<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="../css/master.css">
  </head>
  <body>

    <div class="submission-panel">
      <!-- Data entry for client. Enters DB and returns to html via view engine -->
        <div class="branding"></div>
        <div class="container">
          <h1>Create a Todo List item</h1>

          <form action="/todos" method="POST">
            <p>Enter a list item here:</p>
            <textarea name="listItem" rows="8" cols="80"></textarea>
            <p>and give it some details...</p>
            <textarea name="owner" rows="8" cols="80"></textarea>
            <button class="submit" type="submit">Submit</button>
          </form>
        </div>

    </div>
    <!-- EJS data injection simulating dynamic rendering -->
    <div class="info-panel">
      <div class="todos-container">
        <% for(var i=0; i<todos.length; i++) {%>
            <div class="todo-item" value=<%= todos[i]._id %>>
              <span class="toolbar">
                <span class="delete">X
                  <span class="noteID" hidden><%= todos[i]._id %></span>
                </span>
              </span>
              <div class="details">
                <h3 class="description" contenteditable="true"><%= todos[i].listItem %></h3>
                <p contenteditable="true"><%= todos[i].owner %></p>
               </div>
            </div>
        <% } %>
      </div>
    </div>

  </body>
  <script src="../public/main.js"></script>
</html>
